.aboutus-profile-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.workexperience-container
{
    padding-top: 3rem;
}

.aboutus-heading
{
    width: 100%;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.services-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-bottom:8rem;
    flex-wrap: wrap;
    padding-left:  2rem;
    padding-right:  2rem;
}