.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contactus-heading {
    font-size: 3rem;
    font-weight: 700;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
    padding: 2rem 0;
}

.contact-detail-box {
    height: 250px;
    width: 400px;
    background-color: rgba(255, 253, 253, 0.215);
    border: 2px solid rgba(255, 255, 255, 0.39);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;

}

.contact-detail-heading {
    font-size: 2rem;
    font-weight: 700;
}

.detail-heading {
    font-size: 1.2rem;
    padding-top: 8px;
    text-align: center;
}

.detail-heading span {
    font-size: 1.2rem;
    font-weight: 700;
}

.detail-heading a{
    text-decoration: none;
    color: white;
}

.contact-socialmedia-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    padding-top: 8px;
}

.socialmedia-icon {
    background-color: rgb(243, 236, 236);
    padding: 5px 6px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.socialmedia-icon img {
    height: 30px;
    filter: invert(1);
    pointer-events: none;
}

.contact-form {
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 8rem;

}

@media (max-width:1000px) {
    .contact-box {
        flex-direction: column;
    }

    .contact-detail-box
{
    height: 250px;
    width: 480px;
}

.contact-socialmedia-box {
    gap: 1.5rem;
    padding-top: 8px;
}
}

@media (max-width:535px){
    .contact-detail-box
    {
        height: 250px;
        width: 430px;
    }
}

@media (max-width:480px){
    .contact-detail-box
    {
        height: 250px;
        width: 400px;
    }
}

@media (max-width:440px){
    .contact-detail-box
    {
        height: 250px;
        width: 370px;
    }

    .contact-socialmedia-box {
        gap: 1rem;
        padding-top: 8px;
    }
}

@media (max-width:380px){
    .contact-detail-box
    {
        height: 230px;
        width: 330px;
    }

    .contact-socialmedia-box {
        gap: 1rem;
        padding-top: 8px;
    }
}

@media (max-width:355px){
    .contact-detail-box
    {
        height: 230px;
        width: 300px;
    }

    .contact-socialmedia-box {
        gap: 0.8rem;
        padding-top: 8px;
    }
    .socialmedia-icon img {
        height: 25px;
        filter: invert(1);
    }
}