.project-conatiner
{
    position: relative;
}

.project-heading
{
    font-size: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    font-weight: 700;
}


.project-box
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    gap: 2rem;
    padding-bottom: 8rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

@media (max-width:475px) {
    .project-box
    {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}