.tech-container
{
    background-color: rgb(36, 32, 32);
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    transform: scale(1);
    cursor: pointer;
}

.tech-container:hover
{
transform: scale(1.07);
background-color: rgba(60, 54, 54, 0.988);
}



.tech-icon img
{
    height: 50px;
}